@import "mixins";

.field-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    label {
        @include font(14px, $grey-dark, $semibold);
        margin: 0 0 4px 2px;
        align-self: baseline;
    }
    &.required {
        label {
            &::after {
                content: ' *';
                color: $danger;
            }
        }
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.6;
        // label {
        //     color: $grey-mild;
        // }
        // .form-input {
        //     border-color: $grey-light;
        //     @include placeholder {
        //         color: $grey-light;
        //     }
        // }
    }
}

.form-input {
    height: 36px;
    padding: 0 12px;
    color: $grey-darker;
    border: 1px solid $grey-mild;
    outline: 0;
    @include border-radius;
    @include placeholder {
        color: $grey-mild;
    }
    &:hover {
        border-color: $grey;
    }
    &:focus {
        border-color: $primary;
    }
    &[readonly] {
        background: $grey-lightest;
    }
    &:disabled {
        background: $grey-lightest;
        opacity: 1;
    }
    /* Change the white to any color ;) */
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
}

.form-error {
    position: absolute;
    pointer-events: none;
    @include font(12px, $danger, $semibold);
    padding: 2px;
    bottom: -8px;
    right: 8px;
    background: white;
    text-align: right;
    animation: emerge 0.3s ease-in-out;
}

.booking-form {
    .field-wrapper {
        border: 1px solid $grey-light;
        border-radius: 5px;
        background: white;
        height: 60px;
        @include flex-center;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        .form-input {
            border: 0;
            background: transparent;
            @include has-booking-width;
            padding: 12px 16px 0;
            font-size: 16px;
            height: 100%;
            &[readonly] {
                background-color: $grey-lightest;
            }
            &:-internal-autofill-previewed {
                font-size: 16px !important;
            }
        }        
        .form-input ~ label, label {
            color: $grey-dark;
            position: absolute;
            background: white;
            pointer-events: none;
            font-size: 14px;
            font-weight: 400;
            left: 8px;
            top: 12px;
            padding: 8px 12px 8px 4px;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .form-input:focus ~ label,
        .form-input:valid ~ label,
        .form-input[readonly] ~ label {
            left: 8px;
            top: 6px;
            padding: 0 4px;
            font-size: 12px;
        }
        .form-input[readonly] ~ label {
            background: transparent;
        }
        &:focus-within {
            border-color: $primary;
            label {
                color: $primary;
            }
        }
    }
    .btn-primary {
        @include has-booking-width;
        height: 52px;
        @include on-mobile {
            height: 48px;
        }
    }
    .btn-default {
        font-weight: $regular;
    }
}