$header-height: 64px;
$header-mobile-height: 56px;
$footer-height: 32px;

$booking-width: 350px;
$booking-mobile-width: 250px;

$border-radius: 3px;

$regular: 500;
$semibold: 600;
$bold: 800;

$primary:                   #014386;
$light:                     #ffeec7;
$dark:                      darken($primary, 5%);

$accent:                    #00843A;
$accent-light:              #9EC17C; 
$accent-dark:               darken($accent, 5%);

$grey-white:                #FAFAFA;
$grey-lightest:             #F5F5F5;
$grey-lighter:              #EEEEEE;
$grey-light:                #E0E0E0;
$grey-mild:                 #BDBDBD;
$grey:                      #9E9E9E;
$grey-dark:                 #757575;
$grey-darker:               #616161;
$grey-darkest:              #424242;
$grey-black:                #212121;

$link:                      #5c6bc0;
$info:                      #209CEE;
$success:                   #48C774;
$warning:                   #FFDD57;
$danger:                    #EE342A;
$important:                  #7e57c2;

$link-dark:                 darken($link, 10%);
$info-dark:                 darken($info, 10%);
$success-dark:              darken($success, 10%);
$warning-dark:              darken($warning, 10%);
$danger-dark:               darken($danger, 10%);
$important-dark:             darken($important, 10%);

