<template>
  <div class="wrapper">
    <img class="rule-image" src="~assets/img/rule.png" />
    <div class="description-text">
      <p>
        <b>HEINEKEN</b> đồng hành cùng bạn để giữ vững bản lĩnh và dũng mãnh đương đầu với mọi thử thách phía trước. Hãy
        đến ngay các cửa hàng có băng rôn chương trình
        <b>"RINH BIA VỀ NHÀ-TIỀN NẠP THẢ GA"</b> để nhận phiếu quà tặng
        <b>30,000 VND</b> khi
        <b>MUA TỪ 01 THÙNG BIA THUỘC CÁC SẢN PHẨM CỦA HEINEKEN Việt Nam.</b>
      </p>
    </div>
    <div class="inline-flex">
      <nuxt-link to="share">
        <button class="btn-main btn-share">
          <img src="~assets/img/share.png" />
          <span>Chia sẻ ngay</span>
        </button>
      </nuxt-link>
    </div>
    <div class="hashtag">
      <span>#HEINEKEN</span>
      <span>#RBVN</span>
      <span>#RinhBiaVeNha</span>
      <span>#GiuVungBanLinh</span>
    </div>
    <div class="buttons-wrapper">
      <nuxt-link to="rules">
        <button class="btn-main">
          <img src="beercap.png" />
          <span>Thể lệ</span>
        </button>
      </nuxt-link>
      <nuxt-link to="address">
        <button class="btn-main">
          <img src="beercap.png" />
          <span>Địa chỉ Outlet</span>
        </button>
      </nuxt-link>
      <button class="btn-main btn-video" @click="showVideo = true">
        <img src="beercap.png" />
        <span>Hướng dẫn</span>
      </button>
    </div>
    <div class="overlay" v-if="showVideo" @click="showVideo = false">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Qb1k5sUy1Tw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <iframe
      class="video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Qb1k5sUy1Tw"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div class="partners">
      <div class="partner-group">
        <img src="~assets/img/partners/tiger.png" />
        <img src="~assets/img/partners/tiger-crystal.png" />
        <img src="~assets/img/partners/heineken.png" />
        <img src="~assets/img/partners/heineken-silver.png" />
      </div>
      <div class="partner-group">
        <img src="~assets/img/partners/bia-viet.png" />
        <img src="~assets/img/partners/larue.png" />
        <img src="~assets/img/partners/larue-special.png" />
        <img src="~assets/img/partners/bivina.png" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
declare const McomTracking;
export default Vue.extend({
  layout: "default",
  data: () => ({
    showVideo: false,
  }),
  created() {
    const encryptedPhone = this.$route.query["p"] as string;
    const encryptedSource = this.$route.query["source"] as string;
    if (encryptedPhone) {
      sessionStorage.setItem("encryptedPhone", encryptedPhone);
      tracking("SMS", encryptedPhone);
    }
    // else {
    //   sessionStorage.removeItem("encryptedPhone");
    // }
    if (encryptedSource) {
      tracking("SOCIAL", encryptedSource);
    }
  },
});
function tracking(action: string, encrypt: string) {
  fetch("https://sapi.mcom.app/api/rinhbiavenha.com/tracking", {
    method: "post",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      fingering: McomTracking.fingerprint,
      row: [new Date().toLocaleString(), encrypt, action],
    }),
  }).catch((err) => {});
}
</script>

<style lang="scss" scoped>
.rule-image {
  width: 84%;
  max-width: 550px;
  padding: 28px 0 12px;
  @include on-touch {
    width: 94%;
    max-width: 450px;
    padding: 8px 0;
  }
}
.description {
  b {
    color: $accent-dark;
  }
}
.btn-share {
  padding: 12px 24px;
  margin: 16px 0 12px;
  border-radius: 4px;
}
.hashtag {
  @include font(15px, $accent);
  width: 92%;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  span {
    padding: 4px 6px;
  }
}
.inline-flex {
  display: inline-flex;
  flex: 0 0 auto;
}
.buttons-wrapper {
  display: inline-flex;
  flex: 0 0 auto;
  @include flex-center;
  @include on-desktop {
    padding-bottom: 12px;
  }
  > * {
    flex: 0 0 auto;
  }
  .btn-main {
    margin: 24px 12px;
    width: 180px;
    white-space: nowrap;
    @include on-touch {
      &.btn-video {
        display: none;
      }
    }
    @include on-mobile {
      width: auto;
      margin: 24px 4px;
    }
    &:not(.btn-share) {
      position: relative;
      padding-left: 32px;
      img {
        height: 40px;
        position: absolute;
        left: -8px;
      }
    }
  }
}
.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}
.video {
  @include on-desktop {
    display: none;
  }
  @include on-touch {
    flex: 0 0 315px;
    box-sizing: content-box;
    width: 94%;
    max-width: 560px;
    margin-bottom: 28px;
  }
}
.partners {
  background: rgba(255, 255, 255, 0.6);
  width: 96%;
  max-width: 700px;
  @include flex-align-center;
  @include on-mobile {
    flex-direction: column;
    padding: 12px 0;
    margin-bottom: 56px;
  }
  .partner-group {
    flex: 0 0 50%;
    @include flex-align-center;
    img {
      padding: 8px;
      width: 25%;
      flex: 0 0 25%;
      object-fit: contain;
    }
  }
}
</style>
