<template>
  <div class="wrapper">
    <div class="description">
      <div class="header">
        <img src="beercap.png">
        <div class="header-text">Thể lệ chương trình</div>
      </div>
      <nuxt-link class="close" to="/">X</nuxt-link>
        <p class="text-uppercase text-left">
          <b>          
            Mua từ <span>01</span> thùng bất kỳ các sản phẩm của <b>HEINEKEN VIỆT NAM</b> 
          </b>
          <br>
          <b>          
            nhận ngay phiếu quà tặng <span>30.000VND</span>
          </b>
          <br>
          <br>
          <b class="text-uppercase">Để tham gia và nhận thưởng, </b>
          <br>
          <b class="text-uppercase">quý khách vui lòng làm theo hướng dẫn</b>
        </p>
      <p>
        <br>
        <br>
        - Soạn tin nhắn: <b>HEI [mã nhận thưởng dưới lớp bạc]</b> gửi đến <b>6020</b> để nhận ngay <b>20.000 VND</b> vào 
        tài khoản điện thoại.
        <br>
        - Nhận thêm <b>10.000 VND</b> vào tài khoản điện thoại.
        <br>
            + Bước 1: Truy cập đường dẫn từ tin nhắn tổng đài <b>6020</b> hoặc quyét mã QR để vào trang chủ chương trình.
        <br>
            + Bước 2: Chọn chia sẻ thông tin chương trình trên tài khoản Facebook / Zalo ở trạng thái công khai.
        <br>
        <br>
        <b class="text-uppercase">LƯU Ý</b>
        <br>
        - Mỗi phiếu quà tặng chỉ được sử dụng cho 01 số điện thoại tham gia chương trình khuyến mãi
        “ Rinh Bia Về Nhà - Nạp Tiền Thả Ga”.
        <br>
        - Phiếu không được hoàn tiền hoặc quy đổi thành tiền mặt.
        <br>
        - Thời hạn đổi thưởng từ ngày 01/09/2020 đến ngày 31/10/2020.
        <br>
        - Chương trình có thể kết thúc trước thời hạn khi hết phiếu quà tặng.
        <br>
        - Mọi thắc mắc xin liên hệ: 19006448 (cước phí 1000 vnđ/1 phút).
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  layout: 'default',
  data: () => ({
    showVideo: false
  })
})
</script>

<style lang="scss" scoped>
  .description {
    padding-top: 48px;
    margin-bottom: 80px;
    p a {
      color: white;
      text-decoration: underline;
    }
  }
  b span {
    font-size: 22px;
    margin-left: 4px;
  }
</style>