<template>
  <div class="wrapper">
    <div class="description">
      <nuxt-link class="close" to="/">X</nuxt-link>
      <div class="slide-up" v-if="!showZalo">
        <div class="title">Chia sẻ nhận quà</div>
        <div class="field-wrapper" v-if="!hasPhonePrior">
          <label for="phone">Số điện thoại</label>
          <input name="phone" v-model="phone" placeholder="Nhập số điện thoại" />
        </div>
        <div class="note">
          * Quý khách vui lòng chia sẻ ở chế độ công khai và thêm hashtag
          <b>#RBVN</b> vào nội dung
        </div>
        <div class="share-buttons">
          <button type="button" id="fb-share-btn" @click="fbShare()">
            <img src="~assets/img/fb.png" />
            <span>Chia sẻ Facebook</span>
          </button>
          <button type="button" id="zalo-share-btn" @click="initZalo()">
            <img src="~assets/img/zalo.png" />
            <span>Chia sẻ Zalo</span>
          </button>
        </div>
      </div>
      <div class="slide-up" v-if="showZalo">
        <div class="title">Chia sẻ Zalo</div>
        <div class="max-width">
          <b>Hãy thực hiện đủ 3 bước dưới đây để được nhận thêm 10.000đ vào điện thoại</b>
          <br>
          <br>
          <b>Bước 1:</b> Quan tâm Official Account <a href="https://zalo.me/2492344895752816191" target="_blank" rel="noopener"><b>Rinh Bia Về Nhà</b></a> trên Zalo.
          <div class="button-wrapper" v-if="isSafari">
            <a type="button" id="zalo-follow-btn" href="https://zalo.me/2492344895752816191" 
            target="_blank" rel="noopener">
              <img src="~assets/img/zalo.png" />
              <span>Quan tâm</span>
            </a>
          </div>
          <div class="button-wrapper" v-if="!isSafari">
            <div class="zalo-share" @click="$refs.follow.click()">
              <div
                class="zalo-follow-only-button"
                ref="follow"
                data-oaid="2492344895752816191"
                data-callback="followSuccess"
              ></div>
            </div>
          </div>
          <br />
          <b>Bước 2:</b> Chia sẻ
          <a href="https://zalo.me/2492344895752816191" target="_blank" rel="noopener"><b>Rinh Bia Về Nhà</b></a> về trang cá nhân trên Zalo.
          <div class="button-wrapper">
            <div class="zalo-share" @click="$refs.zalo.click()">
              <div
                class="zalo-share-button"
                ref="zalo"
                data-href="https://rinhbiavenha.com/"
                data-oaid="2492344895752816191"
                data-layout="4"
                data-color="blue"
                data-callback="shareSuccess"
                data-customize="false"
              ></div>
              <span>Chia sẻ</span>
            </div>
          </div>
          <br>
          <b>Bước 3:</b> Chụp màn hình đã chia sẻ của bạn và gửi về tài khoản Zalo tên <a href="https://zalo.me/2492344895752816191" target="_blank" rel="noopener"><b>Rinh Bia Về Nhà</b></a>.
          <br>
          <br>
          <div class="button-wrapper">
            <button class="btn-back" @click="showZalo = false">← Quay lại chia sẻ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import aes from "crypto-js/aes";
import utf8 from "crypto-js/enc-utf8";
declare var ZaloSocialSDK: any;
declare const McomTracking: any;
export default Vue.extend({
  layout: "default",
  name: "share",
  data: () => ({
    phone: "",
    code: "",
    scriptInited: false,
    showZalo: false,
    hasPhonePrior: false,
    isSafari: false
  }),
  watch: {
    phone(newValue) {
      let encrypt = aes.encrypt(newValue, "vVx&!mM5HV.;K").toString();
      let el = document.querySelector("meta[property='og:description']") as HTMLMetaElement;
      el.content = `https://rinhbiavenha.com?p=${encodeURIComponent(encrypt)}`;
      const match = /^(\d+)\/(\s+)/.exec(newValue);
      const phoneNumber = /^(\d+)/.exec(newValue) ? /^(\d+)/.exec(newValue)[1] : newValue;
      const outlet = /\/(\S+)/.exec(newValue) ? /\/(\S+)/.exec(newValue)[1] : undefined;
      encryptPhoneHex = [encryptHex(phoneNumber), outlet].filter((s) => !!s).join("-");
    },
  },
  created() {
    let encryptedPhone = sessionStorage.getItem("encryptedPhone");
    if (encryptedPhone) {
      // let phone =  aes.decrypt(encryptedPhone.trim(), "vVx&!mM5HV.;K").toString(utf8);
      let phone = decryptHex(encryptedPhone);
      if (phone) {
        this.phone = phone;
        this.hasPhonePrior = true;
        let el = document.querySelector("meta[property='og:description']") as HTMLMetaElement;
        el.content = `https://rinhbiavenha.com?p=${encodeURIComponent(encryptedPhone)}`;
      }
    }

    this.isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    // let followZalo = localStorage.getItem('follow-zalo')
    // if (followZalo) {
    //   this.showZalo();
    // }
    // setTimeout(() => {
    //   ZaloSocialSDK.reload();
    // });
  },
  methods: {
    // followSuccess() {
    //   localStorage.setItem("follow-zalo", "true");
    //   this.showZalo();
    // },
    initZalo() {
      this.showZalo = true;
      setTimeout(() => {
        ZaloSocialSDK.reload();
      });
    },
    shareSuccess() {
      this.$toasted.global.success("Chia sẻ bài viết trên Zalo thành công");
    },
    // showZalo() {
    //   this.hideZaloFollow = true;
    //   this.showZaloShare = true;
    //   console.log('show zalo share')
    //   setTimeout(() => {
    //     ZaloSocialSDK.reload()
    //   });
    // },
    fbShare() {
      const url = `https://rinhbiavenha.com/social?source=${encodeURIComponent(encryptPhoneHex)}`;
      const share = new URL(
        "https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&ref=plugin&src=share_button&display=popup"
      );
      share.searchParams.set("u", url);
      window.open(share.href, "_blank");
      tracking("SHARE FB", encryptPhoneHex);
    },
  },
});
let encryptPhoneHex = "";
function encryptHex(text: string) {
  const map = {
    "0": "0",
    "1": "M",
    "2": "2",
    "3": "N",
    "4": "4",
    "5": "O",
    "6": "6",
    "7": "P",
    "8": "8",
    "9": "Q",
    A: "A",
    B: "R",
    C: "C",
    D: "S",
    E: "E",
    F: "T",
  };
  return Number(text)
    .toString(16)
    .toUpperCase()
    .split("")
    .map((s) => map[s])
    .join("");
}
function decryptHex(encode: string) {
  const map = {
    "0": "0",
    M: "1",
    "2": "2",
    N: "3",
    "4": "4",
    O: "5",
    "6": "6",
    P: "7",
    "8": "8",
    Q: "9",
    A: "A",
    R: "B",
    C: "C",
    S: "D",
    E: "E",
    T: "F",
  };
  return (
    "0" +
    parseInt(
      encode
      .toUpperCase()
        .split("")
        .map((s) => map[s])
        .join(""),
      16
    )
  );
}
function tracking(action: string, encrypt: string) {
  fetch("https://sapi.mcom.app/api/rinhbiavenha.com/tracking", {
    method: "post",
    headers: {
      Accept: "application/json",
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      fingering: McomTracking.fingerprint,
      row: [new Date().toLocaleString(), encrypt, action],
    }),
  }).catch((err) => {});
}
// (window as any).followSuccess = function() {
//   let layoutComp = (window as any).$nuxt.$children.find(x => x._name == "<DefaultLayout>");
//   console.log(layoutComp, layoutComp.$children[0], layoutComp.$children[0].$children[0]);
//   layoutComp.$children[0].$children[0].followSuccess();
// };
(window as any).shareSuccess = function () {
  let layoutComp = (window as any).$nuxt.$children.find((x) => x._name == "<DefaultLayout>");
  console.log("shareSuccess", layoutComp, layoutComp.$children[0], layoutComp.$children[0].$children[0]);
  layoutComp.$children[0].$children[0].shareSuccess();
  tracking("SHARE ZALO", encryptPhoneHex);
};
</script>

<style lang="scss" scoped>
.description {
  padding-top: 32px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  .title {
    @include font(20px, $grey-white, $bold);
    text-align: center;
    text-transform: uppercase;
    margin: 24px 0 40px;
  }
}
.field-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  label {
    @include font(13px, $grey-white, $bold);
    margin-left: 2px;
  }
  input {
    font-size: 16px;
    width: 350px;
    margin-top: 8px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 0;
    background: white;
    @include on-mobile {
      width: 100%;
    }
    &[readonly] {
      background: $grey-light;
    }
  }
}
.btn-main {
  margin-top: 12px;
}
#fb-share-btn {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #1877f2;
  padding: 0 12px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #e0e0e0;
  cursor: pointer;
  border: 0;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.share-buttons {
  @include flex-align-center;
  justify-content: center;
  cursor: pointer;
  margin: 32px auto;
  // @include on-mobile {
  //   flex-direction: column;
  //   align-items: center;
  // }
  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  #fb-share-btn,
  #zalo-share-btn {
    @include flex-align-center;
    flex: 0 0 calc(50% - 16px);
    height: 40px;
    justify-content: center;
    font-weight: 600;
    background-color: #1877f2;
    padding: 0 12px;
    margin: 8px 4px;
    color: $grey-light;
    cursor: pointer;
    margin-right: 8px;
    border: 0;
    border-radius: 4px;
    img {
      width: 16px;
      object-fit: contain;
      margin-right: 6px;
      margin-bottom: 2px;
    }
  }
  #zalo-share-btn {
    background-color: #03a5fa;
  }
}
  #zalo-follow-btn {
    background-color: #03a5fa;
    @include flex-center;
    height: 40px;
    padding: 8px 12px;
    @include font(13px, $grey-light, $semibold);
    border-radius: 3px;
    margin-top: 12px;
    img {
      width: 16px;
      object-fit: contain;
      margin-right: 6px;
      margin-bottom: 2px;
    }
  }
.zalo-share {
  height: 40px;
  margin: 8px 4px;
  padding: 0 16px 0 8px;
  border-radius: 4px;
  @include font(13px, $grey-white, $bold);
  @include flex-align-center;
  display: inline-flex;
  cursor: pointer;
  background-color: #03a5fa;
  position: relative;
  .zalo-follow-only-button {
    height: 24px;
    transform: scale(1.15) translate(8px, 2px);
  }
  .zalo-share-button {
    transform: scale(0.75);
  }
}
.note {
  max-width: 350px;
  text-align: left;
  b {
    font-size: 16px;
  }
}
.max-width {
  max-width: 450px;
  text-align: left;
}
.btn-back {
  border: 0;
  background: 0;
  text-decoration: underline;
  cursor: pointer;
  color: $grey-light;
  &:hover {
    color: $grey-white;
  }
}
.slide-up {
  animation: slideUp 0.3s ease-out;
}
a b {
  text-decoration: underline;
}
</style>
