<template>
  <div id="layout" class="layout" :class="{ 'custom': customMode, 'not-confirm': !(hasConfirm18 && isOver18) }">
    <section class="image-section">
      <img class="logo-image" src="~assets/img/logo.png">
      <img class="title-image" v-if="hasConfirm18 && isOver18" src="~assets/img/title.png">
      <img class="beer-image" v-if="hasConfirm18 && isOver18" src="~assets/img/beerline.png">
      <img class="rule-image" v-if="hasConfirm18 && isOver18" src="~assets/img/rule.png">
    </section>
    <section class="content-section">
      <img class="extra-beer-image" v-if="hasConfirm18 && isOver18" src="~assets/img/beerline.png">
      <img class="extra-beer-image" v-if="hasConfirm18 && isOver18" src="~assets/img/beerline.png">
      <div class="description" v-if="!hasConfirm18 || !isOver18">
        <template v-if="!hasConfirm18">
          <div class="title">HEINEKEN CAM KẾT UỐNG CÓ TRÁCH NHIỆM</div>
          <div class="note">Vui lòng xác nhận "Bạn đã đủ 18 tuổi" - Độ tuổi uống rượu bia hợp pháp - Để xem được nội dung trang này</div>
          <button class="btn-age confirm" @click="confirmOver18(true)">Tôi đã đủ 18 tuổi</button>
          <button class="btn-age" @click="confirmOver18(false)">Tôi chưa đủ 18 tuổi</button>
        </template>
        <template v-if="hasConfirm18">
          <div class="danger">
            Xin lỗi vì sự bất tiện này.
            <br>
            Vui lòng quay lại Website của chúng tôi khi bạn đã đủ 18 tuổi.
          </div>
        </template>
      </div>
      <template v-if="hasConfirm18 && isOver18">
        <Nuxt />
      </template>
    </section>
    <ul class="footer" v-if="hasConfirm18 && isOver18">
      <li>Chương trình diễn ra tại <b>Đà Nẵng và Quảng Nam</b> từ <b>01/09/2020 đến 30/09/2020</b></li>
      <li>Chương trình chỉ dành cho người từ 18 tuổi trở lên</li>
      <li>Chương trình có thể kết thúc sớm hơn thời hạn khi hết phiếu quà tặng</li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "DefaultLayout",
  watch:{
    $route (to, from){
      if (process.client) {
        document.getElementById('layout').scrollTo(0, 0)
      }
      this.checkRoute(to.path)
    }
  },
  data: () => ({
    customMode: false,
    hasConfirm18: false,
    isOver18: false
  }),
  mounted() {
    this.checkRoute(this.$route.path)
  },
  methods: {
    checkRoute(route) {      
      if (route.includes('address') || route.includes('rules') || route.includes('share')) {
        this.customMode = true
      } else {
        this.customMode = false
      }
    },
    confirmOver18(isOver18: boolean) {
      this.hasConfirm18 = true
      this.isOver18 = isOver18
    }
  }
});
</script>

<style lang="scss" scoped>
  .layout {
    background: url(~assets/img/background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow-x: hidden;
    @include v-scrollbar(6px);
    @include on-touch {
      flex-direction: column;
    }
    &.not-confirm {
      flex-direction: column;
      .image-section {
        flex: 0 0 auto;
      }
      .content-section {
        padding: 12px;
      }
    }
    &.custom {
      @include on-desktop {
        flex-direction: column;
        .image-section {
          flex-direction: row;
          flex: 0 0 auto;
          @include flex-align-start;
          justify-content: space-between;
          .logo-image {
            // position: absolute;
            // top: 20px;
            // left: 20px;
            width: 150px;
            padding: 20px;
          }
          .beer-image {
            display: none;
          }
          .title-image {
            width: 350px;
            padding: 32px 0 0;
          }
          .rule-image {
            display: block;
            width: 450px;
            padding: 40px 40px 20px 0;
          }
        }
        .content-section {
          padding-top: 20px;
          padding-right: 0;
          .description {
            margin-bottom: 20px;
            z-index: 10;
          }
          .extra-beer-image {
            position: fixed;
            display: block;
            bottom: 20vh;
            width: 450px;
            z-index: 0;
            &:first-child {
              left: 10%;
            }
            &:nth-child(2) {
              right: 10%;
            }
          }
        }
      }
    }
  }
  .extra-beer-image {
    display: none;
  }
  .rule-image {
    display: none;
  }
  .image-section {
    position: relative;
    @include flex-align-center;
    flex-direction: column;
    @include on-desktop {
      flex: 0 0 40%;
    }
    @include on-tablet {
      flex: 0 0 30%;
    }
    @include on-mobile {
      flex: 0 0 auto; 
    }
  }
  .content-section {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include on-desktop {
      padding-top: 40px;
      padding-right: 80px;
    }
    @include on-mobile {
      padding: 12px;
    }
  }
  // .beer-image {
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   width: 180%;
  //   max-width: 800px;
  //   height: auto;
  //   object-fit: contain;
  //   @include on-tablet {
  //     position: absolute;
  //     width: 60%;
  //     max-width: 400px;
  //   }
  //   @include on-mobile {
  //     position: absolute;
  //     width: 84%;
  //   }
  // }
  .logo-image {
    width: 200px;
    flex: 0 0 auto;
    padding: 40px 0 20px;
    @include on-touch {
      padding: 20px 0 8px;
    }
  }
  .title-image {
    width: 80%;
    max-width: 550px;
    flex: 0 0 auto;
    padding: 40px 0 20px;
    @include on-touch {
      width: 86%;
      max-width: 400px;
      padding: 12px 0 8px;
    }
  }
  .beer-image {
    width: 94%;
    max-width: 650px;
    flex: 0 0 auto;
    @include on-touch {
      width: 86%;
      max-width: 450px;
      padding: 12px 0 8px;
    }
  }
  .footer {
    z-index: 10;
    padding-left: 8px;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: lighten($accent, 5%);
    @include font(13px, $grey-lighter);
    box-shadow: 0 -2px 3px 2px rgba(0, 0, 0, 0.12);
    li {
      padding: 8px;
      padding-left: 0;
    }
    @include on-touch {
      padding-left: 20px;
      font-size: 13px;
    }
    @include on-mobile {
      display: block;
      padding: 6px;
      padding-left: 28px;
      font-size: 12px;
      li {
        padding: 2px;
        padding-left: 0;
      }
    }
  }
.description {
  padding-bottom: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  * {
    animation: slideUp 0.3s ease-in-out;
  }
  .title {
    @include font(20px, $grey-white, $bold);
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    max-width: 450px;
  }
  .danger {
    @include font(20px, $grey-white, $bold);
    text-align: center;
    text-transform: uppercase;
    margin: 24px 0 40px;
    max-width: 450px;
    font-family: 'Open Sans';
    font-weight: 700;
    margin: auto;
    @include on-mobile {
      font-size: 16px;
    }
  }
  .note {
    max-width: 450px;
    text-align: center;
  }
  .btn-age {
    height: auto;
    min-height: 48px;
    border: 1.5px solid $grey-lighter;
    background: transparent;
    color: $grey-lighter;
    cursor: pointer;
    @include font(18px, $grey-light, $bold);
    padding: 12px;
    width: 250px;
    text-transform: uppercase;
    margin-top: 24px;
    border-radius: 2px;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: $grey-white;
      border-color: $grey-white;
    }
    &.confirm {
      padding: 16px;
      background: $accent;
      color: white;
      &:hover {
        background: $accent-dark;
      }
    }
  }
}
</style>
